<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="theflash.theflash" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Make_Edit_Page"
            android:label="@string/title_activity_make__edit__page" >
        </activity>
        <activity
            android:name=".Study_Page"
            android:label="@string/title_activity_study__page" >
        </activity>
        <activity
            android:name=".Your_Scores_Page"
            android:label="@string/title_activity_your__scores__page" >
        </activity>
        <activity
            android:name=".Settings_Page"
            android:label="@string/title_activity_settings__page" >
        </activity>
    </application>

</manifest>
